{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
{% pageblock top %}
  {% if grav.page.route == '/' %}
    {% set page_route = grav.config.system.home.alias %}
  {% else %}
    {% set page_route = grav.page.route %}
  {% endif %}
  {% set background_image = pages.find(page_route ~ '/headerimage').media.images|first %}
  {% if background_image %}
    <div class="myheader" style="background-image: url({{ background_image.url }});"></div>
  {% else %}
    {% set background_image = pages.find('/headerimage').media.images|first %}
    {% if background_image %}
        <div class="myheader" style="background-image: url({{ background_image.url }});"></div>
    {% endif %}
  {% endif %}
{% endpageblock %}
{% endblock %}
